
<!DOCTYPE html>
<meta charset="UTF-8">
<head>
<title>WebSocket Test Page</title>
<body>
<h2>Address of WebSocket server to connect to:</h2>
<form id="serverInputForm">
	<input type="text" name="serverURL" value="ws://localhost:8888/ws">
	<input type="submit" value="Create new connection">
</form>

<h2>Send message to WebSocket: </h2>
<form id="inputForm" style="display: block;">
	<input type="text" id="inputText">
	<input type="submit" value="Send">
</form>

<h2>Send binary to WebSocket: </h2>
<form id="fileForm" style="display: block;">
	<input type="file" id="inputFile">
	<input type="submit" value="Send">
</form>

<span id="noConnection">No WebSocket connection specified.</span>
<h2>Last WebSocket server response:</h2>
<div id="testText"></div>
<script type="text/javascript">
	window.onload = function () {
		var inputForm = document.getElementById("inputForm");
		var inputText = document.getElementById("inputText");
		
		var fileForm = document.getElementById("fileForm");
		var inputFile = document.getElementById("inputFile");
		
		var connectionStatus = document.getElementById("noConnection");

		document.getElementById("serverInputForm").onsubmit = function () {
			
			var socket = new WebSocket(document.getElementsByName("serverURL")[0].value);

			socket.onopen = function (event) {
				connectionStatus.style.display = "none";

				inputForm.style.display = "block";
				inputForm.onsubmit = function () {
					socket.send(inputText.value);
					return false;
				}
				
				fileForm.onsubmit = function () {
					var file = inputFile.files[0];
          var reader = new FileReader();
          var rawData = new ArrayBuffer();            
          reader.loadend = function() {
          }
          reader.onload = function(e) {
              rawData = e.target.result;
              socket.send(rawData);
              alert("the File has been transferred.")
          }

          reader.readAsArrayBuffer(file);
				}
			}

			socket.onmessage = function (event) {
				document.getElementById("testText").innerHTML = event.data;
			}		

			socket.onclose = function (event) {
				inputForm.style.display = "none";
				connectionStatus.innerHTML = "Can't connect to WebSocket server.";
				connectionStatus.style.display = "block";
			}

			return false;	
		}
	}
</script>
</body>